<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/scss/relax_scss/Relax.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <title>Document</title>

    <script>
        window.sliderData = {{ sliderData | json_encode() | raw }};

        window.cardData = {{ cardData | json_encode() | raw }};
    </script>
</head>
<body>
    <header class="header">
        {% block header %}
            {{ include('@relax/header.html.twig') }}
        {% endblock %}
    </header>
    <main class="main">
        <div class="main__page page-1">
            <div class="main__title">
                {% block head %}
                    {{ include('@relax/title.html.twig') }}
                {% endblock %}
            </div>
            <div class="swiper">
                    <div class="main__slider__btn">
                        <a href="#" class="left__arrow">
                            <img src="src/image/first__arrow.svg" alt="" class="left__arrow-img">
                        </a>
                    </div>
                    <div class="main__slider__btn__2">
                        <a href="#" class="right__arrow">
                            <img src="src/image/second_arrow.svg" alt="" class="right__arrow-img">
                        </a>
                    </div>
                </div>
            </div>
        <div class="main__page page-2">
            <p class="title__page-2">
                Все мероприятия
            </p>
            <div class="main__page-form">
                {% block form %}
                    {{ include('@relax/form__relax.html.twig') }}
                {% endblock %}
            </div>
            <div class="card__wrapper" id="card__wrapper">
                {% for item in cardData  %}
                    <div class="card">
                        <a href="#" class="card__href">
                            <img src="/src/image/{{ item.image }}" alt="" class="card__img">
                            <p class="card__name">{{item.title}}</p>
                            <img src="/src/image/{{ item.organizer }}" alt="" class="card__logo">
                        </a>
                        <div class="card__poppup">
                            <button type="button" class="poppup__close"><span></span></button>
                            <img src="/src/image/{{ item.logo }}" alt="" class="background__poppup">
                            <div class="card__poppup_content">
                                <p class="card__title">{{item.title}}</p>
                                <p class="card__dscription">{{item.poppup_desc}}</p>
                                <a href="{{item.event_link}}" class="card__btn" target="_blank" id="event_link" rel="noopener noreferrer">Хочу пойти</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/src/js/relax_js/cardAdd.js"></script>
    <script src="/src/js/relax_js/slider.js"></script>
</body>
</html>