<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/relax_scss/Relax.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        {% block header %}
            {{ include('header.html.twig') }}
        {% endblock %}
    </header>
    <main class="main">
        <div class="main__page page-1">
            <div class="main__title">
                {% block head %}
                    {{ include('title.html') }}
                {% endblock %}
            </div>
            <div class="slider-wrapper">
                <div class="main__slider__btn">
                    <a href="#" class="left__arrow">
                        <img src="src/image/first__arrow.svg" alt="" class="left__arrow-img">
                    </a>
                </div>
                <div class="main__page__content">
                    <div class="main__left__card slide">
                        {% for left in left__card %}
                            <div class="main__card-wrapper card ">
                                <p class="main__card-date">{{ left.date }}</p>
                                <div class="main__card-div">
                                    <img src="/src/image/{{ left.image }}" alt="#" class="main__card-image">
                                    <p class="main__card-description">{{ left.description }}</p>
                                </div>
                                <a class ="main__card-btn" href="#">Подробнее</a>
                                <p class="main__card-title">{{ left.title }}</p>
                                <img src="/src/image/{{ left.organizer }}" alt="#" class="main__card-organizer">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="main__center__card slide">
                        {% for center in center__card %}
                            <div class="main__card-wrapper card">
                                <p class="main__card-date">{{ center.date }}</p>
                                <div class="main__card-div">
                                    <img src="/src/image/{{ center.image }}" alt="#" class="main__card-image">
                                    <p class="main__card-description">{{ center.description }}</p>
                                </div>
                                <a class ="main__card-btn" href="#">Подробнее</a>
                                <p class="main__card-title">{{ center.title }}</p>
                                <img src="/src/image/{{ center.organizer }}" alt="#" class="main__card-organizer">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="main__right__card slide">
                        {% for right in right__card %}
                            <div class="main__card-wrapper card">
                                <p class="main__card-date">{{ right.date }}</p>
                                <div class="main__card-div">
                                    <img src="/src/image/{{ right.image }}" alt="#" class="main__card-image">
                                    <p class="main__card-description">{{ right.description }}</p>
                                </div>
                                <a class ="main__card-btn" href="#">Подробнее</a>
                                <p class="main__card-title">{{ right.title }}</p>
                                <img src="/src/image/{{ right.organizer }}" alt="#" class="main__card-organizer">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="main__slider__btn__2">
                <a href="#" class="right__arrow">
                    <img src="src/image/second_arrow.svg" alt="" class="right__arrow-img">
                </a>
            </div>
        </div>
    </main>
    <script src="/src/js/slider.js"></script>
</body>
</html>